body {
	font-family: 'Roboto', sans-serif;
	width: 100%;
	background-color: #ffffff;
	text-align: left;
}

h3 {
	text-align: center;
}
p  {
	font-size: 20px;
	font-weight: bold;
}

table {
	border-collapse: collapse;
	margin-right: auto;
	margin-left: auto;
	max-width: 75%;
}

td, th {
	border: 1px solid #999;
	padding: 0.5rem;
	text-align: center; 
	background-color: #ffffff; 
	border-collapse: collapse;
}

.input-number {
	width: 110px;
	height: 40px;
	font-size: 18px;
	border: 0;
}

#swap-data {
	display:none;
}



.input {
	height: 30px;
	width: 200px;
}

#field-readings {
	background-color: #4CAF50; 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    display: block;
    margin: auto;
}

label { 
	margin-right: 10px;
	display: inline-block;
    float: left;
    clear: left;
    width: 100px;
    text-align: right; 
}
